body,
html {
  height: 100%;
  margin: 0;
  background-color: #e8e8e8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Altere de height para min-height */
}

.conteudo {
  padding: 30px;
  align-items: center;
  text-align: center;
}

.conteudoImg {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  padding: 40px;
}

.conteudoImg img {
 margin-bottom: 70px;
}

.conteudo h1,
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  color: #268af0;
}

.conteudo h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  color: #7a26f0;
  font-size: 28px;
}

.conteudo p {
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  width: 50%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  color: #242525;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.form label {
  color: grey;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divider {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #d1d5db; /* Escolha uma cor para a linha */
  margin: 20px 0; /* Espaçamento superior e inferior */
}
.crip {
  padding: 0.5rem 1rem;
  background-color: #69a3ef;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 40%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.descrip {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  color: #242525;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 40%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
